java/simpleWs/src/main/webapp/wsdl/PasswordManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://passwordManager.myProject.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://passwordManager.myProject.org" xmlns:intf="http://passwordManager.myProject.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://passwordManager.myProject.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPassword">
    <complexType>
     <sequence>
      <element name="key" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordResponse">
    <complexType>
     <sequence>
      <element name="getPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPasswordResponse">

      <wsdl:part element="impl:getPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPasswordRequest">

      <wsdl:part element="impl:getPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PasswordManager">

      <wsdl:operation name="getPassword">

         <wsdl:input message="impl:getPasswordRequest" name="getPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPasswordResponse" name="getPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PasswordManagerSoapBinding" type="impl:PasswordManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PasswordManagerService">

      <wsdl:port binding="impl:PasswordManagerSoapBinding" name="PasswordManager">

         <wsdlsoap:address location="http://localhost:8089/MyProject6/services/PasswordManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
